{% extends 'base.html' %}

{% block title %}{{ pokemon.name }}{% endblock %}

{% block content %}
    <div class="card mt-4">
        <div class="card-body">
            <h3>Detalles</h3>
            <ul class="list-group mt-3">
               <li class="list-group-item"><strong>Tipo:</strong> {{ pokemon.get_type_display }}</li>
                <li class="list-group-item"><strong>Altura:</strong> {{ pokemon.height }}</li>
                <li class="list-group-item"><strong>Peso:</strong> {{ pokemon.weight }}</li>
                <li class="list-group-item">
                    <strong>Entrenador:</strong>
                    {% if pokemon.trainer %}
                        {{ pokemon.trainer.first_name }} {{ pokemon.trainer.last_name }}
                    {% else %}
                        Sin entrenador
                    {% endif %}
                </li>
            </ul>
            <div class="mt-4 text-center">
                <a href="/" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}