<!DOCTYPE html>
<html>
<head>
    <title>Pokedex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">

        <div class="bg-primary text-white p-4 text-center rounded">
            <h1>Mi Pokedex</h1>
        </div>

        <ul class="list-group mt-4">
            {% for pokemon in pokemons %}
                <li class="list-group-item">
                    <a href="/pokemon/{{ pokemon.name }}/">
                        {{ pokemon.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
</body>
</html>